---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";
import TimeLineElement from "../components/cv/TimeLine.astro";
import { Image } from "astro:assets";
import type { ACTION_ERROR_CODES } from "astro:actions";

const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold">Kris Purushothaman</div>
    <div class="text-3xl py-3 font-bold">Software Engineer</div>
    <div class="py-2">
      <text class="text-lg">
        Brooklyn-based, backend-focused software person. <br>
      </text>
    </div>
    
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Experience</div>
    </div>
  
    <div class="time-line-container mb-10">
      <TimeLineElement
        title="Senior Software Engineer, Fabric"
        subtitle="July 2024 - Present"
        location= "Brooklyn, NY"
      >
      <ul>
       <li>
        Improving page load times, modernizing monorepo practices, and building features.
      </li> <br>
      </ul>
      </TimeLineElement>

      <TimeLineElement
        title="Lead Software Engineer, Greenlight Financial Technology"
        subtitle="May 2021 - May 2024"
        location= "Atlanta, GA (Remote)"
      >
      <ul>
       <li>
        Architected and built an extension of existing direct deposit features, improving customer visibility into
        deposits and increasing engagement with the feature.
      </li> <br>
        <li>
          Collaborated with other teams to architect and build a refreshed load limit experience, while extracting
          that functionality from a monolith into microservices.
        </li> <br>
        <li>
          Built orchestration to support depositing into a shared investment account for families.
        </li> <br>
        <li>
          Worked on a team to replatform the funding services from a Typescript service to Kotlin microservices,
            enabling multiple teams to work on large scale features in parallel.
          </li> <br>
      </ul>
      </TimeLineElement>
    
      <TimeLineElement
      title="Senior Software Engineer, Talent Inc"
      subtitle="Sep 2018 - May 2021"
      location= "New York, NY"
    >
    <ul>
     <li>
      Architected and implemented a dynamic contractor pay system using Go and AWS Lambdas, decreasing order fulfillment
      cost by $10 and time to delivery by 15%.      
    </li> <br>
      <li>
        Rebuilt the legacy PHP order fulfillment system backend in Go.
      </li> <br>
      <li>
        Built automated email promo backend system using AWS Lambdas, removing an inter-team
        dependency that slowed down email campaign creation.
      </li> <br>
      <li>
        Built a LinkedIn document generator as an AWS Lambda in Java, decreasing contractor document
        creation time by an average of 30%.
        </li> <br>
    </ul>
    </TimeLineElement>
    
    <TimeLineElement
      title="Software Engineer II, Videa (A Cox Media Group Company)"
      subtitle="Aug 2015 - May 2018"
      location= "Atlanta, GA"
    >
    <ul>
     <li>
      Built and deployed new features and services for a broadcast ad buying and selling platform based on business requirements using C#, GRPC, Dapper,
      and Angular.      
    </li> <br>
      <li>
        Led meetings, handled inter-team communication, and encouraged a spirit of constant improvement as
        scrum master.        
      </li> <br>
      <li>
        Led effort to increase automated testing coverage for Videa's Order Management monolith.
      </li> <br>
    </ul>
    </TimeLineElement>
    
    <TimeLineElement
      title="Software Engineer, The Rainmaker Group"
      subtitle="May 2010 - Aug 2015"
      location= "Atlanta, GA"
    >
    <ul>
     <li>
      Designed and implemented features from requirements provided by product and science teams in C#,
      MS SQL Server, and C++.          
      <li>
    </li> <br>
        Worked with clients and vendors to define API requirements for integration with the LRO product.
      </li> <br>
    </ul>
    </TimeLineElement>
    </div>
  
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Education</div>
    </div>
  
    <div class="time-line-container grid gap-4 mb-10">
      <TimeLineElement
        title="Bachelor of Science (B.S.), Computer Science"
        subtitle="Georgia Institute of Technology, Atlanta, GA"
      />
    </div>

    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Certifications</div>
    </div>
  
    <ul class="list-disc mx-6 mb-10 grid gap-2">
      <li>
        <a href="https://www.scrumalliance.org/community/profile/kpurushoth4" target="_blank"> Certified Scrum Master (2017, Expired) </a>
      </li>
      <li>
        <a href="#" target="_blank">MS: Programming in C# (2016)</a>
      </li>
    </ul>
  
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Skills</div>
    </div>
  
    <ul class="list-disc md:columns-5 columns-2 mx-6">
      <li>Typescript</li>
      <li>NodeJS</li>
      <li>Kotlin</li>
      <li>MySQL</li>
      <li>SQS/SNS</li>
      <li>AWS Lambdas</li>
      <li>Spring Boot</li>
      <li>SQL</li>
      <li>C# (.NET)</li>
      <li>Agile Methodologies</li>
      <li>Go</li>
    </ul>
  </div>
  
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Thoughts</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
